$lionsyellow: #EBB700;
$lionsblue: #00338D;
$lionsgray: #55565A;
$lionsgreen: #00AB68;
$lionslightgray: #B3B2B1;


.under{
  background-color: #00338D !important;
  font-family: arial !important;
}
.navbar-toggler{
  font-size: 1.75rem;
}
