$lionsyellow: #EBB700;
$lionsblue: #00338D;
$lionsdarkblue: #0D2240;
$lionsgray: #55565A;
$lionsgreen: #00AB68;
$lionslightgray: #B3B2B1;




.marg{
  margin: 10%;

}

.text{
  font-family: Arial,sans-serif;
}
$colors: (
"lionsyellow": $lionsyellow,
"lionsblue": $lionsblue,
"lionsdarkblue": $lionsdarkblue,
"lionsgray": $lionsgray,
"lionsgreen": $lionsgreen,
"lionslighrgray": $lionslightgray)!important;

$theme-colors: (
"lionsyellow": $lionsyellow,
"lionsblue": $lionsblue,
"lionsdarkblue": $lionsdarkblue,
"lionsgray": $lionsgray,
"lionsgreen": $lionsgreen,
"lionslighrgray": $lionslightgray)!important;



.under{
  background-color: #00338D !important;
  font-family: arial !important;
}

.btn-header{
  background-color: $lionsyellow !important;
  font-family: Arial !important;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: $lionsblue !important;
}
