$background-yellow{
background-color: #EBB700;
}
$background-blue{
  background-color: #00338D;
}
$background-gray{
  background-color: #55565A;
}
$background-green{
  background-color: #00AB68;
}
$backgroud-lightgray{
  background-color: #B3B2B1;
}